.nav__container {
  display: flex;
  max-width: 80%;
  margin: 0 auto;
  justify-content: space-between;
  align-content: center;
}

nav {
  background-color: #bd7bb3;
  padding-top: 30px;
}

ul {
  display: flex;
  color: #fff;
}

.link {
  color: #fff;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  margin-right: 30px;
}

.link:hover {
  color: #744a6d;
}

.footer p {
  font-size: 12px;
  padding: 10px;
}

.footer a {
  font-size: 12px;
}
.footer a:hover {
  color: #744a6d;
}

/* a:last-child {
  margin-right: 20px;
} */

footer {
  text-align: center;
  background-color: #EEEFF4;
}

@media screen and (max-width: 1024px) {
  .nav__container ul {
    order: -1;
    margin-left: 15vw;
  }
}

@media screen and (max-width: 768px) {
  .header__ilustration {
    max-height: 700px;
    margin-left: -400px;
    margin-top: -200px;
    transform: rotate(35deg);
  }
  .header__text {
    max-width: 300px;
    margin-top: calc((90vh - 230px) / 2);
  }
  .menu-hamburguer {
    display: block;
    color: #fff;
    width: 36px;
    height: 36px;
    border-top: 4px solid;
    margin: 15px 0px 8px 5%;
    float: left;
    position: absolute;
    cursor: pointer;
    -webkit-backface-visibility: hidden;
    z-index: 2;
    order: -1;
  }
  .menu-hamburguer::after, .menu-hamburguer::before {
    content: '';
    display: block;
    height: 4px;
    margin-top: 6px;
    background: currentColor;
    position: relative;
    transition: transform .2s ease;
  }
  .menu-hamburguer.active {
    border-top-color: transparent;
    z-index: 200;
    position: absolute;
  }
  .menu-hamburguer.active::after {
    color: rgb(245, 245, 245);
    margin-top: 0px;
    top: 2px;
    transform: rotate(45deg);
  }
  .menu-hamburguer.active::before {
    color: rgb(245, 245, 245);
    margin-top: 0px;
    top: 6px;
    transform: rotate(135deg);
  }
  .nav.active {
    background-color: #85527d;
  }
  .nav__links {
    display: none;
  }
  .nav__container.active {
    padding: 20px 0;
  }
  .nav__links.active {
    display: block;
    flex-direction: column;
    margin: 60px auto;
  }
  .nav__links.active a {
    font-size: 22px;  
  }
  .nav__links.active li {
    margin: 20px auto; 
  }
  .logo {
    margin-left: auto;
  }
  .logo.active {
    display: none;
  }
}

@media screen and (max-width: 425px) {
  .nav__container {
    max-width: 90%;
  }
}