.nav__container {
  display: flex;
  max-width: 80%;
  margin: 0 auto;
  justify-content: space-between;
  align-content: center;
}

nav {
  background-color: #d283c6;
  padding-top:30px;
}

ul {  
  display: flex;
  color: #fff;
}

a {  
  color: #fff;
  font-size: 16px;
  font-weight: bold;
}

.footer p {
  font-size: 12px;
  padding: 10px;
}

.footer a {
  font-size: 12px;
}
a:last-child {  
  margin-right: 20px;
}

footer {
  text-align: center;
}