.modulo__container {
  max-width: 730px;
  border: 2px solid #000;
  margin: 20px auto;
  transition: color .4s;
  transition: background-color .4s;
  text-align: initial;
  padding: 20px;
  /* background-color: #fff; */
}
.modulo__container:hover {
  cursor: pointer;
  color:#fff;
  background-color: #000;
  transition: background-color .4s;  
}

.ativo {
  color:#fff;
  background-color: #000;
}