@import url('https://fonts.googleapis.com/css2?family=Krona+One&display=swap');
.header {
  background-color: #d283c6;
  height: 90vh;
  display: flex;
}

.header__ilustration {
  position: absolute;
  z-index: 100;
  max-height: 100vh;
  margin-left: -18vw;
  top: 20px;
  animation: move 5s linear 2;
}

@keyframes move {
  0%, 100% {
    transform: translateY(30);
  }
  50% {
    transform: translateY(30px);
  }
}

.header__text {
  position: absolute;
  max-width: 400px;
  margin-left: 50vw;
  /* margin-right: 10%; */
  margin-top: 25vh;
}

h1 {
  font-family: 'Krona One', sans-serif;
}

@media screen and (max-width: 1024px) {
  .header__ilustration {
    max-height: 1000px;
    margin-left: -40vw;
    margin-top: -200px;
    transform: rotate(20deg);
  }
  .header__text h1 {
    font-size: 48px
  }

  .header__ilustration {
       animation: none;
  }
}

@media screen and (max-width: 768px) {
  .header__ilustration {
    FONT-WEIGHT: 500px;
    max-height: 500px;
    margin-left: -400px;
    margin-top: -150px;
    transform: rotate(30deg);
  }
  h1 {
    font-size: 48px
  }
  .header__text {
    max-width: 300px;
    margin-top: 25vh;
  }
}

@media screen and (max-width: 480px) {
  .header__ilustration {
    display: none;
  }
  .header {
    text-align: center;
  }
  .header__text {
    position: relative;
    margin: 0 auto;
    text-align: center;
    max-width: 90vw;
    margin-top: 100px;
  }

  .header__text h1{
    font-size: 36px;
  }
  .header__text p{
   margin-top: 20px;
  }
}