@import url('https://fonts.googleapis.com/css2?family=Krona+One&display=swap');
.header {
  background-color: #bd7bb3;
  height: 90vh;
  display: flex;
}

.header__ilustration {
  overflow: hidden;  
  position: absolute;
  z-index: 100;
  max-height: 120vh;
  margin-left: -18vw;
  top: 20px;
  animation: move 5s linear 2;
}

@keyframes move {
  0%, 100% {
    transform: translateY(30);
  }
  50% {
    transform: translateY(30px);
  }
}

.header__text {
  position: absolute;
  max-width: 400px;
  margin-left: 50vw;
  margin-top: calc((90vh - 330px) / 2);
}

h1 {
  font-family: 'Krona One', sans-serif;
}

@media screen and (max-width: 1280px) {
  .header__ilustration {
    margin-left: -28vw;
  }
}

@media screen and (max-width: 1024px) {
  .header__ilustration {
    max-height: 1000px;
    margin-left: -45vw;
    margin-top: -200px;
    transform: rotate(20deg);
  }
  .header__text h1 {
    font-size: 48px
  }
  .nav__container ul {
    align-self: center;
  }
  .header__ilustration {
    animation: none;
  }
}

@media screen and (max-width: 768px) {
  h1 {
    font-size: 48px
  }
  .header__text {
    text-align: center;
    /* position: absolute; */
    max-width: 400px;
    /* margin-left: 0; */
    /* margin-right: 0; */
    margin-top: calc((90vh - 311px) / 2);
    justify-content: center;
    justify-self: center;
    margin: calc((90vh - 330px) / 2) auto;
  }
  .header {
    justify-content: center;
  }
  .header__ilustration {
    display: none;
  }
}

@media screen and (max-width: 480px) {
  .header {
    text-align: center;
  }
  .header__text {
    position: relative;
    margin: 0 auto;
    text-align: center;
    max-width: 80%;
    margin: calc((90vh - 330px) / 2) auto;
  }
  .header__text h1 {
    font-size: 36px;
  }
  .header__text p {
    margin-top: 20px;
  }
}