.artigo {
  margin:40px auto;
}

.artigo__container {
  width: 230px;
  height: 150px;
  background-color: #ccc;
  padding: 15px;
  display: flex;
  justify-content: center; 
  
}

.artigo__tag {
  background-color: #ff7676;
  width: 120px;
  height: 40px;
  position: absolute;
  margin-top:-25px;
  margin-left: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.artigo__tag h3 {
  font-size: 18px;
  padding-bottom: 10px;
}

.artigo__texto {  
  line-height: 28px;
  font-size: 16px;
 align-self: center;
 /* max-width: 90%; */
}