.modulos__secao {  
  text-align: center;
  background-color:  #FFC864;
  padding: 80px 0;
}

.modulos__secao--container {
  text-align: center;
  margin: 60px auto 0 auto;
}

@media screen and (max-width: 768px) {
  .modulos__secao--container {
    max-width: 80%;    
  }
}
/* .article__container {
  width: 230px;
  height: 150px;
  background-color: #ccc;
  padding: 15px;
  display: flex;
  justify-content: center; 
}

.article__nametag {
  background-color: #ff7676;
  width: 120px;
  height: 40px;
  position: absolute;
  margin-top:-25px;
  margin-left: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.article__text {  
  line-height: 28px;
  font-size: 16px;
 align-self: center;
} */

.artigos__secao {
  max-width: 730px;
  display: flex;
  margin: 0 auto;
  justify-content: space-between;
  flex-wrap: wrap;
}