.sobreSecao__container {
  max-width: 920px;
  margin: 0 auto;
}

.sobreSecao {
  padding: 80px 0;
  background-color: #EEEFF4;
}

.sobreSecao a{
  color:#7e459b;
  cursor: pointer;
}

.sobreSecao__container h2 {
  text-align: center;
  margin-bottom: 30px;
}

@media screen and (max-width: 1024px) {
  .sobreSecao__container {
    max-width: 80%;    
  }
}
@media screen and (max-width: 425px) {
  .sobreSecao__container {
    max-width: 85%;    
  }
}